<div class="ui vertical stripe segment">
	<div class="ui container">
		<h2>component1 works!</h2>
		<form class="ui large form segment">
			<h3 class="ui header">Add a Link</h3>
			<div class="field">
				<label for="title">Title:</label>
				<input name="title" #newtitle>
			</div>
			<div class="field">
				<label for="link">Link:</label>
				<input name="link" #newlink>
			</div>
			<div>
				<button (click)="addArticle(newtitle.value, newlink.value)" class="ui positive button">Submit link</button>
			</div>
		</form>
	</div>
</div>